<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Candidate CRUD</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="view/app.js"></script>
    <style>
a {
	cursor: pointer;
	background-color: lightblue;
}
</style>
</head>
<body>
<div ng-controller="CandidateCRUDCtrl">
    <table>
        <tr>
            <td width = "100">id:</td>
            <td><input type="text" id="id" ng-model="candidate.id" /></td>
        </tr>
        <tr>
            <td width="100">Name:</td>
            <td><input type="text" id="name" ng-model="candidate.name" /></td>
        </tr>
        <tr>
            <td width="100">Email:</td>
            <td><input type="text" id="email" ng-model="user.email" /></td>
        </tr>
        <tr>
            <td width="100">surName:</td>
            <td><input type="text" id="surName" ng-model="candidate.surName" /></td>
        </tr>
        <tr>
            <td width="100">phone:</td>
            <td><input type="text" id="phone" ng-model="user.phone" /></td>
        </tr>
    </table>
    <br /> <br />

    <a ng-click="getCandidate(candidate.id)">Get candidate</a>
    <a ng-click="updateCandidate(candidate.id,candidate.name,candidate.surName,candidate.email,candidate.phone)">Update candidate</a>
    <a ng-click="addCandidate(candidate.id,candidate.name,candidate.surName,candidate.email,candidate.phone)">Add candidate</a>
    <a ng-click="deleteCandidate(candidate.id)">Delete candidate</a>
    <br /> <br />

    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>
    <br /> <br />

    <a ng-click="getCandidates()">getCandidates</a><br />
    <br /> <br />

    <div ng-repeat="candidate in candidates">
        {{candidate.name}} {{candidate.email}}
    </div>
</div>
</body>
</html>